* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    padding-top: 23px;
    padding-bottom: 23px;
    box-shadow: 0px 2px 4px 0px #0000000E;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-text {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.82px;
    text-align: left;
}

.hero {
    background-color: #fafafa;
    padding-top: 48px;
    padding-bottom: 45px;
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.hero-box {
    box-shadow: 0px 0px 7px 2px #00000008;
    background-color: #fff;
    padding-bottom: 46px;
}

.hero-title {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
    font-family: Nunito Sans;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
    color: #111517;
}

.hero-text {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #111517;
    margin-bottom: 8px;
    margin-left: 24px;
}

.hero-input {
    width: 480px;
    padding: 18px;
    padding-left: 74px;
    background-image: url('../images/icon-search-black.svg');
    background-repeat: no-repeat;
    background-position: center left 32px; 
    box-shadow: 0px 2px 9px 0px #0000000E;
    border: none;
    border-radius: 10px;
}

.hero-select {
    width: 200px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    box-shadow: 0px 2px 9px 0px #0000000E;
    border: none;
    border-radius: 10px;
}

@media (max-width: 810px) {
    .hero-form {
        flex-direction: column;
        gap: 40px;
    }
}


@media (max-width: 510px) {
    .hero-form {
        align-items: start;
    }
    .hero-input {
        width: 343px;
    }
    
    .header-title {
        font-family: Nunito Sans;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        text-align: left;
    }
    
    .header-text {
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.37px;
        text-align: left;
    }
}


@media (max-width: 360px) {
    .hero-input {
        width: 300px;
    }
}

